.card-container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.card {
  flex: 1;
  padding: 20px;
  background: rgba(0, 0, 0, 0.05); /* Light blur background */
  border-radius: 10px;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.card h3 {
  margin: 0;
  font-size: 1.2rem;
}

.card p {
  margin: 10px 0 0;
  font-size: 1rem;
}

.card:hover {
  background: white;
  border: 1px solid lightblue;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


.quiz-detail {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.question-card {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

.answer-options {
  margin-bottom: 20px;
}

.answer-options input {
  margin-right: 10px;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
}

.selected-answers {
  margin-top: 20px;
}

.selected-answers ul {
  list-style-type: none;
  padding: 0;
}

.selected-answers li {
  margin: 5px 0;
}

.submit-section {
  margin-top: 20px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}
